Checks:          '-*,modernize-use-nullptr,readability-braces-around-statements,readability-implicit-bool-cast,modernize-loop-convert,hicpp-use-override'
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions: []
