Checks:          '-*,modernize-use-nullptr,readability-braces-around-statements,readability-implicit-bool-cast,modernize-loop-convert,hicpp-use-override,hicpp-use-equals-default,modernize-deprecated-headers,readability-container-size-empty,misc-move-const-arg'

# not enabling google-readability-redundant-smartptr-get because it also changes it in conditions `foo.get() == nullptr` vs `foo == nullptr`
# not enabling readability-else-after-return because it is iterative and it break  } else if (..) { into 2 lines.
# not enabling modernize-use-auto because Nelson didn't like it.
WarningsAsErrors: '*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions: []
