/.bazelrc
/bazel-*
/compile_commands.json
/.gdb_history
/tags

# CI puts a checkout here for testing.
/pay-server

.vscode/

/website/lib/core/metadata.js
/website/lib/core/MetadataBlog.js

/website/translated_docs
/website/build/
/website/yarn.lock
/website/node_modules
/website/i18n/*
