
/* Custom CSS styles */
/* Full bleed overrides */
.homeContainer {
  text-align: left;
}

.projectTitle {
  line-height: 1.2em;
}

.homeContainer .homeWrapper {
  padding: 4em 20px;
}

.wrapper {
  max-width: 1100px;
}

.homeContainer .homeWrapper .projectLogo {
  padding: 0;

}

.homeContainer .homeWrapper .projectLogo img {
  width: 200px;
}

.container .wrapper .threeByGridBlock {
  text-align: left;
  margin-bottom: 20px;
}


.container .wrapper .threeByGridBlock h2 {
  margin-top: 0;
  text-align: left;
}

.container .wrapper .threeByGridBlock h2 p {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.homeContainer {
  background: #4F4397;
  color: #ffffff;
}

.homeContainer .projectTitle {
  color: #ffffff;
}

.homeContainer .button {
  border-color: #ffffff;
  color: #ffffff;
}

.homeContainer .button:hover {
  color: #4F4397;
  background: #ffffff;
}

.homeContainer a, .footer a {
  color: #B4A8FF;
}

/* Features container */
.featuresContainer {
  margin-top: 0.5em;
  padding: 2.5em 0;
  background: #6255b0;
}

.featuresContainer .wrapper .threeByGridBlock {
  margin-bottom: 0;
}

/* Page sections */
.pageSection h2 {
  margin-bottom: 0.7em;
  margin-top: 0;
}

.pageSectionColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Responsive styles*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  /* Navbar color override in responsive mode */
  .fixedHeaderContainer {
    min-height: 55px;
  }
  .navigationSlider .slidingNav ul {
    background: #4F4397;
    border-top: 1px solid #7d76a9;
    margin-top: 50px;
  }
  /* Masthead */
  h2.projectTitle {
    margin-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .pageSectionColumns {
    flex-direction: column;
}
}
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
