:root {
  --sorbet-purple-1: #330066; /* currently unused */
  --sorbet-purple-2: #4f4397;
  --sorbet-purple-3: #6255b0;

  --sorbet-purple-4: #8673FF;
  --sorbet-purple-5: #997AFC; /* currently unused */
  --sorbet-purple-6: #B4A8FF;
}

.homeContainer {
  text-align: left;
}

.projectTitle {
  line-height: 1.2em;
}

.homeContainer .homeWrapper {
  padding: 4em 20px;
}

.wrapper {
  max-width: 1100px;
}

.homeContainer .homeWrapper .projectLogo {
  padding: 0;
}

.homeContainer .homeWrapper .projectLogo img {
  width: 200px;
}

.container .wrapper .threeByGridBlock {
  text-align: left;
  margin-bottom: 20px;
}

.container .wrapper .threeByGridBlock h2 {
  margin-top: 0;
  text-align: left;
}

.container .wrapper .threeByGridBlock h2 p {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.homeContainer {
  background: var(--sorbet-purple-2);
  color: #ffffff;
}

.homeContainer .projectTitle {
  color: #ffffff;
}

.homeContainer .button {
  border-color: #ffffff;
  color: #ffffff;
}

.homeContainer .button:hover {
  color: var(--sorbet-purple-2);
  background: #ffffff;
}

.homeContainer a, .footer a {
  color: var(--sorbet-purple-6);
}

/* Features container */
.featuresContainer {
  margin-top: 0.5em;
  padding: 2.5em 0;
  background: var(--sorbet-purple-3);
}

.featuresContainer .wrapper .threeByGridBlock {
  margin-bottom: 0;
}

/* Page sections */
.pageSection h2 {
  margin-bottom: 0.7em;
  margin-top: 0;
}

.pageSectionColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Responsive styles*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  /* Masthead */
  h2.projectTitle {
    margin-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .pageSectionColumns {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
