/*
 * Custom Docusaurus overrides.
 * See here for more information:
 * https://docusaurus.io/docs/en/api-pages#styles
 */

/*
 * Docusaurus uses blockquote to show warnings / yellow callouts.
 * Sometimes, we don't want this.
 */
blockquote.monotone {
  background-color: initial;
  border-color: rgba(0, 0, 0, 0.15);
  padding-top: 0;
  padding-bottom: 0;
}

/*
 * By default, the link color is the same as the primaryColor.
 * For us, this color is too dark, and links don't pop enough.
 * Thus, we override the link color to be more vibrant.
 */
a {
  color: var(--sorbet-purple-4);
}
a:hover {
  color: var(--sorbet-purple-4);
  text-decoration: underline;
}

/* Don't highlight the logo in the header on hover:
 *
 * .fixedHeaderContainer is hard coded here:
 * https://github.com/facebook/Docusaurus/blob/1edbeecb/packages/docusaurus-1.x/lib/static/css/main.css#L719
 */
.fixedHeaderContainer a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*
 * Docusaurus does not render footnotes in <sup> tags in superscript.
 * This renders them in super script.
 */
sup {
  vertical-align: super;
  font-size: 11px;
  font-weight: bold;
}

/*
 * We have primary and secondary color the same, so use a drop shadow to make
 * the navigation buttons stand out on mobile, and then change the active
 * item's color directly.
 */
@media only screen and (max-width: 1023px) {
  .navigationSlider .slidingNav ul {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .navigationSlider .slidingNav ul li > a:focus,
  .navigationSlider .slidingNav ul li > a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive > a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background-color: var(--sorbet-purple-3);
  }
}

@media only screen and (max-width: 1023px) {
}

/*
 * NOTE: This file is for overrides.
 *
 * Before adding to this file, consider whether this is an override of an
 * existing Docusaurus style, or a new style for a new thing we're building for
 * the first time.
 */
