# C / C++ Options
# Don't depend on system compiler
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17


# Developer laptops run skylake, devboxes run skylake-avx512
# however some AWS instances in our fleet still run Sandy Bridge (Skylake predecessor)
build --copt=-march=sandybridge
build --cxxopt=-march=sandybridge

build --copt=-fno-omit-frame-pointer
build --cxxopt=-fno-omit-frame-pointer

build --copt=-fstack-protector
build --cxxopt=-fstack-protector

build --copt=-Werror --copt=-Wimplicit-fallthrough
build --cxxopt=-Werror --cxxopt=-Wimplicit-fallthrough

build --host_cxxopt=-O0
build --host_copt=-O0
build --host_cxxopt=-DFORCE_DEBUG
build --host_copt=-DFORCE_DEBUG

# We shell out to homebrew and ruby. Hardcode the most likely places
# to find them on both Linux and OS X
build --action_env PATH=/usr/local/bin:/usr/local/opt/bison/bin:/usr/bin:/bin

# The MacOS CROSSTOOL in bazel defines _FORTIFY_SOURCE both on
# <command line>:1:9: and <built-in>:355:9: so sadly we turn them all off
build --copt=-Wno-macro-redefined
build --cxxopt=-Wno-macro-redefined

build:dbg --copt=-O0
build:dbg --cxxopt=-O0
build:dbg --compilation_mode=dbg
build:dbg --config=debugsymbols
build:dbg --config=nopie

# release version: optimized, with debug symbols and version information
build:release --define release=true
build:release --define jemalloc=true
build:release --compilation_mode=opt
build:release --config=debugsymbols
build:release --config=nopie
build:release --config=lto
build:release --stamp

# CI uses a funny build, with debug code enabled but compiled with optimizations.
# intentionally does not reuse --config=debugsymbols because we want to have a sandboxed build
build:ci --config=forcedebug
build:ci --copt=-g3 --copt=-glldb
build:ci --cxxopt=-g3 --cxxopt=-glldb
build:ci --linkopt=-g3 --linkopt=-glldb
build:ci --config=sanitize
build:ci --copt=-O2
build:ci --cxxopt=-O2
build:ci --define jemalloc=true
build:ci --config=debugsymbols

# DEBUG_MODE is set by default for all builds except --config=release.
# Use this flag to set DEBUG_MODE even for --config=release.
build:forcedebug --copt=-DFORCE_DEBUG
build:forcedebug --cxxopt=-DFORCE_DEBUG

# Used to build --stamp build that contains version and build time.
build --workspace_status_command=tools/buildstamp/get_workspace_status

# LTO build. Much longer compilation time. Smaller size and better perf.
build:lto --copt=-flto=thin
build:lto --cxxopt=-flto=thin
build:lto --linkopt=-flto=thin
build:lto --config=nopie

# It's useful to be able to write `config_setting` rules for "this is
# an unsanitized build", but we can't express "copt does not contain
# -fsanitize". So we set this `--define` and unset it if we're using a
# sanitizer.
build --define unsanitized=true
# sanitize build: run with ASAN and UBSAN. Catches most memory and
# undefined-behavior errors, substantially larger and slower binary.
build:sanitize --copt=-fsanitize=address --copt=-fsanitize-address-use-after-scope
build:sanitize --cxxopt=-fsanitize=address --cxxopt=-fsanitize-address-use-after-scope
build:sanitize --linkopt=-fsanitize=address --linkopt=-fsanitize-address-use-after-scope
build:sanitize --copt=-fsanitize=undefined --copt=-fno-sanitize-recover=undefined
build:sanitize --cxxopt=-fsanitize=undefined --copt=-fno-sanitize-recover=undefined
build:sanitize --linkopt=-fsanitize=undefined --copt=-fno-sanitize-recover=undefined
build:sanitize --define unsanitized=false

build:tsan --copt=-fsanitize=thread
build:tsan --cxxopt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread
build:sanitize --define unsanitized=false

# Build optimized for executable size. Can be faster if size of executable code is a bottleneck.
build:size --linkopt=-Os
build:size --copt=-Os
build:size --cxxopt=-Os

### Debug symbols on OS X. ###
# From https://github.com/RobotLocomotion/drake/blob/master/tools/cc_toolchain/bazel.rc
# See https://github.com/bazelbuild/bazel/issues/2537
build:debugsymbols --copt=-g3 --copt=-fstandalone-debug --copt=-DDEBUG_SYMBOLS --copt=-glldb
build:debugsymbols --cxxopt=-g3 --cxxopt=-fstandalone-debug --cxxopt=-DDEBUG_SYMBOLS --cxxopt=-glldb
build:debugsymbols --linkopt=-g3 --linkopt=-fstandalone-debug --linkopt=-DDEBUG_SYMBOLS --linkopt=-glldb
build:debugsymbols --spawn_strategy=standalone
build:debugsymbols --genrule_strategy=standalone

build:nopie --linkopt=-fno-pie
build:nopie --copt=-fno-pie
build:nopie --cxxopt=-fno-pie

build --strip=never

# Enable nice UIs. Taken from bazel.rc of Bazel itself.
common --experimental_ui --experimental_ui_actions_shown 8
common --show_progress_rate_limit=0.25

# Webasm config. Please use either of those depending on your platform
build:webasm-linux --crosstool_top=//tools/toolchain/webasm-linux --config=webasm
build:webasm-darwin --crosstool_top=//tools/toolchain/webasm-darwin --config=webasm

# common webasm config
# Use --cpu as a differentiator.
build:webasm --cpu=webasm --spawn_strategy=standalone --genrule_strategy=standalone --copt=-Oz --cxxopt=-Oz --linkopt=-Oz --copt=-DMDB_USE_ROBUST=0 --cxxopt=-DMDB_USE_ROBUST=0
build:webasm --compilation_mode=opt
build:webasm --copt=--llvm-lto --copt=3 --cxxopt=--llvm-lto --cxxopt=3 --linkopt=--llvm-lto --linkopt=3
# Specify a "sane" C++ toolchain for the host platform.
build:webasm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
