# C / C++ Options
build --copt=--std=c++14
build --cxxopt=--std=c++14

build --copt=-fno-omit-frame-pointer
build --cxxopt=-fno-omit-frame-pointer

build --copt=-fsanitize=address
build --cxxopt=-fsanitize=address

build --copt=-fstack-protector
build --cxxopt=-fstack-protector

build --copt=-fsanitize=undefined
build --cxxopt=-fsanitize=undefined

build --linkopt=-fsanitize=address
build --linkopt=-fsanitize=undefined

build:dbg --copt=-g3
build:dbg --cxxopt=-g3
build:dbg --linkopt=-g3

### Debug symbols on OS X. ###
# From https://github.com/RobotLocomotion/drake/blob/master/tools/cc_toolchain/bazel.rc
# See https://github.com/bazelbuild/bazel/issues/2537
build:dbg --spawn_strategy=standalone
build:dbg --genrule_strategy=standalone
build:dbg --compilation_mode=dbg

build --strip=never
