# C / C++ Options
build --copt=--std=c++14
build --cxxopt=--std=c++14

build --copt=-fno-omit-frame-pointer
build --cxxopt=-fno-omit-frame-pointer

build --copt=-fsanitize=address
build --cxxopt=-fsanitize=address

build --copt=-fstack-protector
build --cxxopt=-fstack-protector

build --copt=-fsanitize=undefined
build --cxxopt=-fsanitize=undefined

build --copt=-Werror
build --cxxopt=-Werror

build --linkopt=-fsanitize=address
build --linkopt=-fsanitize=undefined

# fix build on mac. For some reason path stopped being propagated.
build --action_env PATH

# The MacOS CROSSTOOL in bazel defines _FORTIFY_SOURCE both on
# <command line>:1:9: and <built-in>:355:9: so sadly we turn them all off
build --copt=-Wno-macro-redefined
build --cxxopt=-Wno-macro-redefined

build:dbg --copt=-O0
build:dbg --cxxopt=-O0
build:dbg --copt=-g3
build:dbg --cxxopt=-g3
build:dbg --linkopt=-g3
build:dbg --linkopt=-fno-pie
build:dbg --copt=-fno-pie
build:dbg --cxxopt=-fno-pie

# LTO build. Much longer compilation time. Smaller size and better perf.
build:lto --copt=-flto=thin
build:lto --cxxopt=-flto=thin
build:lto --linkopt=-flto=thin
build:lto --linkopt=-fno-pie
build:lto --copt=-fno-pie
build:lto --cxxopt=-fno-pie

# Unsafe build: disable sanitizers. Smaller size and better perf, undefined behaviour in case of bugs.
build:unsafe --copt=-fno-stack-protector
build:unsafe --cxxopt=-fno-stack-protector
build:unsafe --copt=-fno-sanitize=address
build:unsafe --cxxopt=-fno-sanitize=address
build:unsafe --linkopt=-fno-sanitize=address
build:unsafe --copt=-fno-sanitize=undefined
build:unsafe --cxxopt=-fno-sanitize=undefined
build:unsafe --linkopt=-fno-sanitize=undefined

# Build optimized for executable size. Can be faster if size of executable code is a bottleneck.
build:size --linkopt=-Os
build:size --copt=-Os
build:size --cxxopt=-Os

### Debug symbols on OS X. ###
# From https://github.com/RobotLocomotion/drake/blob/master/tools/cc_toolchain/bazel.rc
# See https://github.com/bazelbuild/bazel/issues/2537
build:dbg --spawn_strategy=standalone
build:dbg --genrule_strategy=standalone
build:dbg --compilation_mode=dbg

build --strip=never

# Enable nice UIs. Taken from bazel.rc of Bazel itself.
build --experimental_skyframe_target_pattern_evaluator
common --experimental_ui --experimental_ui_actions_shown 8
common --show_progress_rate_limit=0.25
